.jumbotron{
    color :white !important;
    background-color:#18314f;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
	border-radius: 15px;
	text-align: center;
}

.container{

    color : blueviolet !important; 
}

body{
    /** padding for top of page **/ 
    background-color: #0d0630;
}

h1{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 30px 30px 30px 30px;
}
li{
    font-size: 20px;
		padding: 30px 30px 30px 30px;
}
img{
    display:block;
    margin:auto;
}

