body {
	margin: 20px;
	padding: 20px;
	font-family: arial;
	color: white !important;
	background-color: #0d0630 !important;
}

#title {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

#options {
	vertical-align: middle;
	padding: 8px;
}


/* submit button for results */
#submit {
	margin: 20px 00px 100px 00px;
	padding: 8px;
	font-size: 22px;
	line-height: 28px;
	font-weight: 800;
	color: black;
	border-radius: 6px;
}

#submit:hover {
	cursor: pointer;
	text-decoration: underline;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h3 {
	color: gray;
	text-shadow: 1px 1px black;
	padding: 8px;
}


/*jumbotron to display questions and options */

#jumbotron {
	/*
  jumbotron styling 
  */
	color: white;
	background-color: #18314f;
	/*
  margin to center the jumbotron fam
  */
	margin-bottom: 30px;
	margin-left: 32px;
	margin-right: 32px;
	border-radius: 15px;
}

#button {
	text-align: center;
}


/*jumbotron to display results */

#jumbotronResults {
	/*
  jumbotron styling 
  */
	color: white;
	background-color: #18314f;
	/*
  margin to center the jumbotron fam
  */
	margin-bottom: 30px;
	margin-left: 32px;
	margin-top: 200px;
	margin-right: 32px;
	border-radius: 15px;
}

#results {
	color: white;
	text-align: center;
	vertical-align: middle;
	display: block;
	text-shadow: 1px 1px black;
}

#thanks {
	text-align: center;
	color: white;
	text-shadow: 1px 1px black;
}

#title
{
	text-shadow: 1px 1px black;
}

#home {
	padding-right: 20px !important;
}

#back {
	padding-left: 30px !important;
}


/*code form http://stackoverflow.com/questions/10560786/changing-color-of-twitter-bootstrap-nav-pills*/

.nav-pills> li.active> a,
.nav-pills> li.active> a:hover,
.nav-pills> li.active> a:focus {
	background-color: #18314f !important;
	margin-right: 16px;
	margin-top: 20px
}